@media (min-width: 401px) {

main {
  background-color: var(--white);
  border-radius: 25px;
  border-bottom-right-radius: 100px;
  margin: 36px 20px 80px 20px;
  min-height: 68vh;
  min-width: 56vw;
  padding: 28px 52px;
}

.top-side {
  border-bottom: 1px solid var(--lightGrey);
  display: flex;
  padding-bottom: 64px;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  padding-top: 40px;
}

form > label {
  color: var(--smokeyGrey);
  font-size: 14px;
  letter-spacing: 3px;
}

form > input {
  border: 1px solid var(--lightGrey);
  border-radius: 8px;
  cursor: pointer;
  font-size: 28px;
  margin-top: 4px;
  padding: 12px 16px;
  width: 11vw;
}

form > p {
  width: 100%;
}

.calculate-button {
  bottom: -48px;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
}

button {
  background-color: var(--purple);
  background-image: url(../assets/images/icon-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 6rem;
  transition: opacity 0.15s, background-color 0.1s;
  width: 6rem;
}

.bot-side {
  margin-top: 32px;
}

.bot-side > p {
  font-size: 7vw;
  font-style: italic;
  font-weight: bold;
  line-height: 112px;
}

}